#portal{

}

#footer{
    font-size: 10px;
    color: #333;
    background-color: #DDD;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh; /*высота футера будет зависеть от высоты экрана*/
    overflow: hidden;
}

#header{
    background-color: #ABC;
}
#navigation{
    /*background-color: #f0ad4e;*/
}

#content{
    background-color: #FFF;
    text-align: justify;
    height: 100%;
    padding: 5px;
    padding-top: 20px;
}

.app-content {

}

.app-content-request{
    opacity: 0.3;
}